{
  "LoginServerSettings": {
    "IpAddress": "127.0.0.1",
    "Port": 8888
  },
  "GameServerSettings": {
    "Name": "<ServerName>",
    "IpAddress": "127.0.0.1",
    "Port": 7777,
    "MaxPlayers": 100
  },
  "DatabaseSettings": {
    "ConnectionString": "server=<IPAddress>;database=<Database>;user=<User>;password=<Password>"
  }
}